.WeatherForecast {
  text-align: center;
}
.min-temperature {
  opacity: 0.6;
  margin-left: 4px;
}
.custom {
  border-radius: 12px;
  border: 1px solid #0b5ed7;
  background: #ffffff30;
  box-shadow: 2px 2px 2px 2px #0b5ed7;
}
@media (max-width: 500px) {
  .custom {
    margin-bottom: 7px;
    width: 44px;
  }
  .weatherForecastTemperatures {
    font-size: 14px;
  }
}
