.Weather {
  border: 1px solid #dadde1;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  color: rgb(23, 6, 6);
  padding: 16px;

  border-radius: 8px;
}

.Weather h1 {
  font-size: 42px;
  margin: 20px 0 0 0;
  font-weight: 100px;
  line-height: 29px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style: none;
  font-size: 20px;
  font-weight: 100px;
  line-height: 19px;
}
.Weather .temperature {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}
.Weather canvas {
  margin-right: 10px auto;
}
.Weather .unit {
  position: relative;
  top: -32px;
  font-weight: 540;
  font-size: 16px;
  line-height: 1;
  margin-left: 2px;
}
a {
  text-decoration: none;
}
.Mdate2 {
  border: 1px solid #0b5ed7;
  border-radius: 8px;
  background: #ffffff30;
  box-shadow: 2px 2px 2px 2px #0b5ed7;
}
.Mdate {
  text-align: right;
  position: relative;
  top: 19px;
}
.Mdate3 {
  text-align: right;
  color: #0746a4;
}
.Mdate3 li {
  margin: 5px;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}
@media (max-width: 600px) {
  .Weather h1 {
    font-size: 30px;
  }
  .Weather li {
    font-size: 15px;
  }
  .Weather .unit {
    font-size: 12px;
  }
  .Weather .temperature {
    font-size: 54px;
  }
  .Weather canvas {
    height: 40px;
    margin-top: 6px;
  }
}
